
<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>studio</th>
      <th>weekendIncome</th>
      <th>delete</th>

    </tr>
    </table>
    <movie *ngFor = "let movie of movies" 
    [data] = "movie"
    (delete) = "hideHim($event)"
    ></movie>  <!--  ברגע שקורה אירוע שהאבא מעביר לבן משהו הוא נכנס לפונקציה ומכניס את מה שקיבל לאיוונט  -->
</div>

<div style = "text-align: center;">
    The movie you deleted is: {{title}}
</div>