table{
    table-layout: fixed;
    width: 80%;
    margin-top:35px;
    margin-left: 65px;
   
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
     }
td{
    padding: 30px;
    text-align: center;
}
table th{
    background-color: lightgray;
    color: black;
}