
<table>
  <!--  -->
  <tr id={{id}}>  <!-- לכל סרט יהיה את האיידי של הסרט -->
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{studio}}</td>
    <td>{{weekendIncome}}</td>
  
  <button (click) = "deleteMovie()">
      Delete Movie
    </button>
  </tr>
</table>